{% extends './common/layout.html' %} 
{% block head %}
<script src="/blog/static/js/common/reveal/reveal.js" type="text/javascript"></script>
<script src="/blog/static/js/common/reveal/head.min.js" type="text/javascript"></script>
<script src="/blog/static/js/common/reveal/marked.js" type="text/javascript"></script>
<link rel="stylesheet" href="/blog/static/css/common/reveal/reveal.css" type="text/css"> 
<link rel="stylesheet" href="/blog/static/css/common/reveal/theme/{{sliderConfig.theme||'black'}}.css" type="text/css">
<link rel="stylesheet" href="/blog/static/css/common/highlight/agate.css" type="text/css"> 
{% endblock %} 

{% block body %}
<div class="reveal">
  <div class="slides">
    <section data-markdown
             data-separator="^\n\n\n"  
             data-separator-vertical="^\n\n"  
             data-separator-notes="^Note:"  
             data-charset="iso-8859-15">
      <script type="text/template">{{sliderContent|safe}}</script>
    </section>
  </div>
</div>
{% endblock %} 

{% block foot %}
{% if sliderConfig.type == 'slider' %}
<script src="/blog/static/js/post_slider.js" type="text/javascript"></script>
{% endif %}
{% endblock %}