<link rel="stylesheet" href="/blog/static/css/common/post_theme.css" type="text/css">
<div class="content-post">
  {% for post in posts %}
    {% set user = siteInfo.users_item[post.author] || {} %}
    {% set cate = siteInfo.cates_item[post.category] || {} %}
    <article class="post-item">
    	<div class="post-author">
    		<img src="/user/avatar?img={{user.avatar}}">
    		<a href="{{user.blog || user.github}}" target="_blank">{{user.nickname}}</a>
    		<span>{{post.time|date('Y-m-d H:i',-480)}}</span>
    	</div>
      <h2 class="post-title">
          <a href="/post/content/{{ post.id }}" target="_blank">{{ post.title }}</a>
      </h2>
      {% if post.image %}
      <div class="post-image">
          <a href="/post/content/{{ post.id }}" target="_blank"><img src="{{post.image}}" target="_blank"/></a>
      </div>
      {% endif %}
    	<div class="post-content markdown-body">
          {{ post.introContent || post.content | safe }}
      </div>
      <div class="post-more">
          <a class="post-more-link" href="/post/content/{{ post.id }}" target="_blank">read more <i class="icon-angle-right"></i></a>
      </div>
    	<div class="post-bottom clearfix">
        <div class="post-bottom-comment"><!-- 
          <a href="/post/content/{{ post.id }}#postComment" class="ds-thread-count" data-thread-key="{{ post.id }}" data-count-type="comments"></a> -->
          <!-- <i class="icon-comment-alt"></i> -->
          <a href="/post/content/{{ post.id }}#postComment"><i class="icon-comment-alt"></i></a>
          <!-- <i class="icon-comment-alt"></i> -->
        </div>
			  <div class="post-bottom-cate">
				<a href="/post/cate/{{post.category}}">{{ cate.name}}</a><i class="icon-bookmark-empty"></i>
			</div>
    	</div>
    </article>
  {% endfor %}

  {% if !posts || posts.length == 0%}
  <div class="post-none">
    <p>没有对应文章！</p>
  </div>
  {% else %}
  <div class="post-page">
    <a class="page-page-item page-page-pre {% if page.hasPrePage %}actived{% endif %}" {% if page.hasPrePage %}href="/home?page={{page.pageNum - 1}}"{% endif %}><i class=" icon-angle-left"></i></a>
    <a class="page-page-item page-page-nex {% if page.hasNexPage %}actived{% endif %}" {% if page.hasNexPage %}href="/home?page={{page.pageNum + 1}}"{% endif %}><i class=" icon-angle-right"></i></a>
  </div>
  {% endif %}
</div>
<!-- 多说js加载开始，一个页面只需要加载一次 -->
<script type="text/javascript">
/*var duoshuoQuery = {short_name:"febiz"};
(function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = 'http://static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
})();*/
</script>
<!-- 多说js加载结束，一个页面只需要加载一次 -->
