<footer class="footer">
  <div class="container">
    <p>Copyright © {{siteInfo.year}} {{siteInfo.name}} </p>
    <p>本站由 <a href="https://github.com/xiongwilee/koa-grace">gracejs</a> 强力驱动 <iframe src="https://ghbtns.com/github-btn.html?user=xiongwilee&repo=koa-grace&type=star&count=false" frameborder="0" scrolling="0" width="55px" height="20px"></iframe></p>
  </div>
</footer>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?bd30f92879b673d77b4b4565195e035a";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
