 {% if postInfo.query.type == 'slider' %}
<div class="reveal">
  <div class="slides">
    <section data-markdown data-separator="^\n\n\n" data-separator-vertical="^\n\n" data-separator-notes="^Note:" data-charset="iso-8859-15">
      <script type="text/template">{{postInfo.body|safe}}</script>
    </section>
  </div>
</div>
<link rel="stylesheet" href="/iblog/static/css/lib/reveal/reveal-d5e1407f51.css" type="text/css">
<link rel="stylesheet" href="/iblog/static/css/lib/reveal/theme/{{postInfo.query.theme or 'black' }}.css" type="text/css">
<script src="/iblog/static/js/post/slider-2258842e8f.js" type="text/javascript"></script>
{% else %}
<div class="post-slider">
  <center class="post-slider-none">该文章不可预览哦</center>
</div>
{% endif %}