.content{
}
.content .content-post .post-item{
	margin-bottom: 30px;
	margin-right: 30px;
	min-height: 200px;
	padding: 30px;
	list-style: none;

	border: 1px solid rgba(0,0,0,.04);
    box-shadow: 0 1px 4px rgba(0,0,0,.03);
    border-radius: 3px;

	background: #ffffff;
}
.content .content-post .post-item .post-author{
	float: left;
}
.content .content-post .post-item .post-author img{
	height: 30px;
	width: 30px;
	border-radius: 20px;

	float: left;
} 
.content .content-post .post-item .post-author a{
	display: block;
	margin-left: 35px;
	padding-bottom: 5px;
	color: #296ad4;
	line-height: 16px;
    font-size: 16px;
    text-decoration: none;

    overflow: hidden;
}
.content .content-post .post-item .post-author span{
	display: block;
	margin-left: 35px;
	color: rgba(0,0,0,.44);
	font-size: 12px;
}
.content .content-post .post-item .post-cate{
	float: right;
	padding-top: 10px;
}
.content .content-post .post-item .post-cate a{
	font-size: 14px;
	color: rgba(0,0,0,.6);
	text-decoration: none;

	padding-right: 5px;
}
.content .content-post .post-item .post-cate a:hover{
	color: #296ad4;
}
.content .content-post .post-item .post-cate i{
	color: rgba(0,0,0,.4);
	font-size: 18px;
    vertical-align: middle;
}
.content .content-post .post-item .post-from{
	clear: both;
	
	word-break: break-all;
	padding-top: 20px;
	font-size: 16px;
}
.content .content-post .post-item .post-from span{
	margin-right: 5px;
	color: rgba(0,0,0,0.5);
}
.content .content-post .post-item .post-from a{
	text-decoration: none;
	color: #5488DD;
}
.content .content-post .post-item .post-from a:hover{
	text-decoration: underline;
}
.content .content-post .post-item .post-title{
	clear: both;

	padding-top: 30px;

	text-align: center;
	color: #2b3a53;
	font-size: 30px;
	line-height: 30px;
	font-weight: bold;
	font-family: Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,WenQuanYi Micro Hei,Microsoft Yahei,sans-serif;
}
.content .content-post .post-item .post-content{
	display: block;
	clear: both;
	padding-top: 30px;

	color: #31415c;
	line-height: 1.5em;
	text-decoration: none;
}
.content .content-post .post-item .post-comment{
	padding-top: 30px;
}